# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home2/thekidsw/log2.gayathiriportfolio.xyz"
PassengerBaseURI "/"
PassengerPython "/home2/thekidsw/virtualenv/log2.gayathiriportfolio.xyz/3.10/bin/python"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
SetEnv IMAGGA_API_KEY acc_298fda7e23890f7
SetEnv IMAGGA_API_SECRET 2e68219e0721e8af2eaa8ccaa0795149
SetEnv OCRSPACE_API_KEY K88988588388957
SetEnv LOCATIONIQ_API_KEY pk.02a4cd14018a63accb886659c7164ce8
SetEnv GEMINI_API_KEY AQ.Ab8RN6ICg1yuzCki9L72UZ-hbR89A6-WmDFFNWqgjHhkgct_gA
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END